@import url(sanitize.css);
body {
    background-color: #f0f0f0;
    padding: 10px;
    font-size: 14px;
    color: #666666;
}

.container {
    width: 1175px;
    margin: 0 auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .3);
}

header {
    background-color: #197216;
    padding: 7.5px;
    color: #ffffff;
}

header h1 {
    font-family: serif;
    margin: 0;
    font-size: 25px;
    padding: 5px;
    text-align: center;
}

.content h1 {
    margin: 20px 20px 20px 35px;
    /* margin: 20px; */
}

.description {
    text-align: center;
}

.description img {
    max-width: 260px;
    /* float: left; */
    /* margin: 20px 30px 20px 30px; */
    margin: 20px 25px 15px 25px;
    padding: 0px;
}

/* マウスが重なったときに画像を透明にする */
.description img:hover {
    opacity: .9;
}

.description2 {
    text-align: center;
}

.description2 h2 {
    padding: 10px 0px 0px 0px;
}

.description2 input {
    margin: 0px 0px 12px 0px;
}


.description2 img {
    max-width: 515px; /*<- 縦画像: 400px/*
    /* float: left; */
    margin: 30px 0px 35px 70px;
    padding: 0px;
}


.btn {
    /* margin: 0 0 0 auto; */
    width: 25%;
    font-size: 28px;
    font-family: serif;
    margin: 30px 20px 27px 20px;
}

.img2 {
    float: left;
}

.box{
    width: 50px;
    height: 50px;
    margin: 0px 5px 30px 5px;
    border: 1px solid black ;
    border-radius: 0.25em;
  }

.clearfix:after {
    content: " ";
    display: table;
    clear:both;
}